/* =========================================================
   DATABASE: mytrip
   Portable SQL Script 
   ========================================================= */

USE master;
GO

-- Xóa DB cũ nếu tồn tại
IF DB_ID('mytrip') IS NOT NULL
BEGIN
    ALTER DATABASE mytrip SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE mytrip;
END
GO

-- Tạo database 
CREATE DATABASE mytrip;
GO

USE mytrip;
GO

/* =========================================================
   TABLES
   ========================================================= */

CREATE TABLE Users (
    user_id INT IDENTITY PRIMARY KEY,
    full_name NVARCHAR(100) NOT NULL,
    email NVARCHAR(100) NOT NULL UNIQUE,
    password_hash NVARCHAR(255) NOT NULL,
    role NVARCHAR(20) NOT NULL,
    is_verified BIT DEFAULT 0,
    created_at DATETIME DEFAULT GETDATE(),
    reset_token VARCHAR(255),
    reset_expiry DATETIME,
    phone VARCHAR(20),
    address NVARCHAR(255),
    birthday DATE,
    avatar NVARCHAR(255),
    gender NVARCHAR(10),
    CONSTRAINT CK_Users_role CHECK (role IN ('admin','user'))
);
GO

CREATE TABLE Routes (
    route_id INT IDENTITY PRIMARY KEY,
    start_point NVARCHAR(100) NOT NULL,
    end_point NVARCHAR(100) NOT NULL,
    distance_km INT CHECK (distance_km > 0),
    travel_time NVARCHAR(50),
    CONSTRAINT UQ_Route UNIQUE (start_point, end_point)
);
GO

CREATE TABLE VehicleTypes (
    type_id INT IDENTITY PRIMARY KEY,
    type_name NVARCHAR(50),
    total_seats INT
);
GO

CREATE TABLE Vehicles (
    vehicle_id INT IDENTITY PRIMARY KEY,
    license_plate NVARCHAR(20) NOT NULL UNIQUE,
    status NVARCHAR(20) DEFAULT N'Hoạt động',
    type_id INT,
    CONSTRAINT FK_Vehicles_VehicleTypes FOREIGN KEY (type_id)
        REFERENCES VehicleTypes(type_id),
    CONSTRAINT CK_Vehicle_status CHECK (status IN (N'Hoạt động',N'Bảo trì',N'Ngưng chạy'))
);
GO

CREATE TABLE Trips (
    trip_id INT IDENTITY PRIMARY KEY,
    route_id INT NOT NULL,
    vehicle_id INT NOT NULL,
    departure_time DATETIME NOT NULL,
    price DECIMAL(10,2) NOT NULL CHECK (price > 0),
    available_seats INT NOT NULL CHECK (available_seats >= 0),
    status NVARCHAR(20) DEFAULT N'Đang mở',
    CONSTRAINT FK_Trips_Routes FOREIGN KEY (route_id) REFERENCES Routes(route_id),
    CONSTRAINT FK_Trips_Vehicles FOREIGN KEY (vehicle_id) REFERENCES Vehicles(vehicle_id),
    CONSTRAINT CK_Trips_status CHECK (status IN (N'Đang mở',N'Đã đóng',N'Đã huỷ',N'Đã khởi hành'))
);
GO

CREATE TABLE Seats (
    seat_id INT IDENTITY PRIMARY KEY,
    trip_id INT NOT NULL,
    seat_number NVARCHAR(10) NOT NULL,
    is_booked BIT DEFAULT 0,
    CONSTRAINT FK_Seats_Trips FOREIGN KEY (trip_id)
        REFERENCES Trips(trip_id) ON DELETE CASCADE
);
GO

CREATE TABLE Tickets (
    ticket_id INT IDENTITY PRIMARY KEY,
    user_id INT NOT NULL,
    trip_id INT NOT NULL,
    seat_id INT NOT NULL,
    booking_code NVARCHAR(50) NOT NULL,
    booking_date DATETIME DEFAULT GETDATE(),
    status NVARCHAR(20) DEFAULT N'Đã đặt',
    qr_code NVARCHAR(MAX),
    payment_status NVARCHAR(50) DEFAULT N'UNPAID',
    trip_type NVARCHAR(20) DEFAULT N'Một chiều',
    direction NVARCHAR(10),
    CONSTRAINT FK_Tickets_Users FOREIGN KEY (user_id) REFERENCES Users(user_id),
    CONSTRAINT FK_Tickets_Trips FOREIGN KEY (trip_id) REFERENCES Trips(trip_id),
    CONSTRAINT FK_Tickets_Seats FOREIGN KEY (seat_id) REFERENCES Seats(seat_id),
    CONSTRAINT UQ_Ticket_Seat UNIQUE (trip_id, seat_id),
    CONSTRAINT CK_Tickets_status CHECK (status IN (N'Đã đặt',N'Đã huỷ',N'Hoàn tất',N'Chờ hoàn tiền'))
);
GO

CREATE TABLE Payments (
    payment_id INT IDENTITY PRIMARY KEY,
    ticket_id INT,
    user_id INT,
    amount DECIMAL(10,2),
    method VARCHAR(20),
    status VARCHAR(20),
    transaction_time DATETIME DEFAULT GETDATE(),
    booking_code VARCHAR(50),
    CONSTRAINT FK_Payments_Tickets FOREIGN KEY (ticket_id) REFERENCES Tickets(ticket_id),
    CONSTRAINT FK_Payments_Users FOREIGN KEY (user_id) REFERENCES Users(user_id)
);
GO

CREATE TABLE Invoices (
    invoice_id INT IDENTITY PRIMARY KEY,
    ticket_id INT,
    invoice_number VARCHAR(20),
    secret_code VARCHAR(50) UNIQUE,
    total_amount DECIMAL(18,2),
    status NVARCHAR(50),
    created_at DATETIME DEFAULT GETDATE(),
    CONSTRAINT FK_Invoices_Tickets FOREIGN KEY (ticket_id)
        REFERENCES Tickets(ticket_id)
);
GO

CREATE TABLE Notifications (
    noti_id INT IDENTITY PRIMARY KEY,
    user_id INT NOT NULL,
    booking_code NVARCHAR(50),
    message NVARCHAR(255),
    created_at DATETIME DEFAULT GETDATE(),
    is_read BIT DEFAULT 0
);
GO

/* =========================================================
   STORED PROCEDURES
   ========================================================= */

CREATE PROCEDURE sp_CreateInvoice
    @ticket_id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Tickets WHERE ticket_id = @ticket_id)
        RETURN;

    IF EXISTS (SELECT 1 FROM Invoices WHERE ticket_id = @ticket_id)
        RETURN;

    DECLARE @total DECIMAL(18,2);

    SELECT @total = tr.price
    FROM Tickets t
    JOIN Trips tr ON t.trip_id = tr.trip_id
    WHERE t.ticket_id = @ticket_id;

    INSERT INTO Invoices (
        ticket_id, invoice_number, secret_code,
        total_amount, status, created_at
    )
    VALUES (
        @ticket_id,
        'INV-' + CAST(ABS(CHECKSUM(NEWID())) % 100000 AS VARCHAR),
        'MYTRIP-' + CAST(ABS(CHECKSUM(NEWID())) % 100000 AS VARCHAR),
        @total,
        N'Hợp lệ',
        GETDATE()
    );
END
GO

CREATE PROCEDURE sp_TongDoanhThu
AS
BEGIN
    SELECT 
        SUM(tr.price) AS TongDoanhThu,
        COUNT(p.payment_id) AS SoGiaoDich
    FROM Payments p
    JOIN Tickets t ON p.ticket_id = t.ticket_id
    JOIN Trips tr ON t.trip_id = tr.trip_id
    WHERE p.status = 'SUCCESS';
END
GO

CREATE PROCEDURE sp_DoanhThuHomNay
AS
BEGIN
    SELECT 
        SUM(tr.price) AS TongDoanhThu,
        COUNT(p.payment_id) AS SoGiaoDich
    FROM Payments p
    JOIN Tickets t ON p.ticket_id = t.ticket_id
    JOIN Trips tr ON t.trip_id = tr.trip_id
    WHERE p.status = 'SUCCESS'
      AND CONVERT(date, p.transaction_time) = CONVERT(date, GETDATE());
END
GO

CREATE PROCEDURE sp_DoanhThuTheoTuyen
AS
BEGIN
    SELECT 
        r.start_point + N' → ' + r.end_point AS Tuyen,
        SUM(tr.price) AS DoanhThu,
        COUNT(p.payment_id) AS LuotThanhToan
    FROM Payments p
    JOIN Tickets t ON p.ticket_id = t.ticket_id
    JOIN Trips tr ON t.trip_id = tr.trip_id
    JOIN Routes r ON tr.route_id = r.route_id
    WHERE p.status = 'SUCCESS'
    GROUP BY r.start_point, r.end_point
    ORDER BY DoanhThu DESC;
END
GO

/* =========================================================
   TRIGGERS
   ========================================================= */

-- Tự tạo hóa đơn khi đặt vé
CREATE TRIGGER trg_AutoCreateInvoice
ON Tickets
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Invoices (
        ticket_id, invoice_number, secret_code,
        total_amount, status, created_at
    )
    SELECT
        i.ticket_id,
        'INV-' + CAST(ABS(CHECKSUM(NEWID())) % 100000 AS VARCHAR),
        'MYTRIP-' + CAST(ABS(CHECKSUM(NEWID())) % 100000 AS VARCHAR),
        tr.price,
        N'Hợp lệ',
        GETDATE()
    FROM inserted i
    JOIN Trips tr ON i.trip_id = tr.trip_id
    WHERE NOT EXISTS (
        SELECT 1 FROM Invoices inv WHERE inv.ticket_id = i.ticket_id
    );
END
GO

-- Khi đặt vé → khóa ghế
CREATE TRIGGER trg_BookSeat
ON Tickets
AFTER INSERT
AS
BEGIN
    UPDATE s
    SET is_booked = 1
    FROM Seats s
    JOIN inserted i ON s.seat_id = i.seat_id;
END
GO

-- Khi hủy vé → trả ghế nếu còn > 1 tiếng
CREATE TRIGGER trg_CancelSeat
ON Tickets
AFTER UPDATE
AS
BEGIN
    IF EXISTS (SELECT 1 FROM inserted WHERE status = N'Đã huỷ')
    BEGIN
        IF EXISTS (
            SELECT 1
            FROM inserted i
            JOIN Trips t ON i.trip_id = t.trip_id
            WHERE DATEADD(HOUR,-1,t.departure_time) <= GETDATE()
        )
        BEGIN
            RAISERROR(N'Không thể hủy vé vì chuyến sắp khởi hành.',16,1);
            ROLLBACK;
            RETURN;
        END

        UPDATE s
        SET is_booked = 0
        FROM Seats s
        JOIN inserted i ON s.seat_id = i.seat_id;
    END
END
GO
